In [444]:
# importing the required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

In [445]:
# load dataset

df = pd.read_csv("Survey Data - Survey Data.csv")

df

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28032,4/12/2024 11:02,35-44,Art & Design,Digital designer,Email,60000,0.0,GBP,NaN,NaN,United Kingdom,NaN,London,11 - 20 years,8 - 10 years,College degree,Man,White
28033,4/16/2024 19:21,18-24,Health care,Health Informatics,NaN,35000,1700.0,CAD,NaN,NaN,Canada,NaN,Toronto,1 year or less,1 year or less,College degree,Man,Asian or Asian American
28034,4/18/2024 16:21,25-34,Media & Digital,Product Manager,NaN,113000,0.0,USD,NaN,NaN,US,New York,N/A - Remote,5-7 years,5-7 years,College degree,Woman,White
28035,4/23/2024 23:39,18-24,Education (Higher Education),Teacher,NaN,13860,NaN,USD,NaN,NaN,Chile,NaN,Stgo,1 year or less,1 year or less,NaN,NaN,NaN
28036,4/25/2024 9:22,35-44,"Accounting, Banking & Finance",DBA,LORD,1000,100.0,USD,NaN,100,LOUTRELAND,NaN,LOUTRECITY,41 years or more,41 years or more,Some college,Other or prefer not to answer,Another option not listed here or prefer not t...

## RENAMING COLUMN HEADERS

In [446]:
new_column_name = {"Timestamp" : "Timestamp", "How old are you?" : "Age_Range", "What industry do you work in?" : "Work_Industry",
                  "Job title" : "Job_Title", "If your job title needs additional context, please clarify here:" : "Job_Title_ExtraContext",
                   "What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)" : "Salary",
                   "How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits." : "Monetary_Compensation", 
                   "Please indicate the currency" : "Currency",
                   'If "Other," please indicate the currency here: ' : "Other_Currency",
                   "If your income needs additional context, please provide it here:" : "Income_ExtraContext",
                   "What country do you work in?" : "Country",
                   "If you're in the U.S., what state do you work in?" : "State_in_USA",
                   "What city do you work in?" : "City",
                   "How many years of professional work experience do you have overall?" : "Work_Experience",
                   "How many years of professional work experience do you have in your field?" : "Work_Experience_in_Field",
                   "What is your highest level of education completed?" : "Level_of_Education",
                   "What is your gender?" : "Gender",
                   "What is your race? (Choose all that apply.)" : "Race"
                  
                  }

In [447]:
# updating the dataset

df = df.rename(columns=new_column_name)

In [448]:
# printing first 5 dataset

df.head()

,Timestamp,Age_Range,Work_Industry,Job_Title,Job_Title_ExtraContext,Salary,Monetary_Compensation,Currency,Other_Currency,Income_ExtraContext,Country,State_in_USA,City,Work_Experience,Work_Experience_in_Field,Level_of_Education,Gender,Race
0,4/27/2021 11:02,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

In [449]:
# number of rows and column

df.shape

(28037, 18)

In [450]:
# to get a concise information of the dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28037 entries, 0 to 28036
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Timestamp                 28037 non-null  object
 1   Age_Range                 28037 non-null  object
 2   Work_Industry             27963 non-null  object
 3   Job_Title                 28036 non-null  object
 4   Job_Title_ExtraContext    7251 non-null   object
 5   Salary                    28037 non-null  object
 6   Monetary_Compensation     20751 non-null  float64
 7   Currency                  28037 non-null  object
 8   Other_Currency            202 non-null    object
 9   Income_ExtraContext       3040 non-null   object
 10  Country                   28037 non-null  object
 11  State_in_USA              23023 non-null  object
 12  City                      27945 non-null  object
 13  Work_Experience           28037 non-null  object
 14  Work_Experience_in_Field  28037 non-null  object
 15  Level_of_Education        27818 non-null  object
 16  Gender                    27867 non-null  object
 17  Race                      27862 non-null  object
dtypes: float64(1), object(17)
memory usage: 3.9+ MB

In [451]:
# summary statistics of dataset

df.describe()

       Monetary_Compensation
count           2.075100e+04
mean            1.817264e+04
std             8.343544e+05
min             0.000000e+00
25%             0.000000e+00
50%             2.000000e+03
75%             1.000000e+04
max             1.200000e+08

In [452]:
# to check for NaN value in the dataset

df.isnull().sum()

Timestamp                       0
Age_Range                       0
Work_Industry                  74
Job_Title                       1
Job_Title_ExtraContext      20786
Salary                          0
Monetary_Compensation        7286
Currency                        0
Other_Currency              27835
Income_ExtraContext         24997
Country                         0
State_in_USA                 5014
City                           92
Work_Experience                 0
Work_Experience_in_Field        0
Level_of_Education            219
Gender                        170
Race                          175
dtype: int64

In [453]:
# to check for duplicated value in the dataset

df.duplicated().sum()

20

## DATA CLEANING

### HANDLING MISSING VALUES 

- When dealing with missing values in a dataset, understanding the reasons behind missing values (NaN) in a dataset is crucial for accurate analysis. 

- Sometimes, missing values occur because there's no applicable answer, not due to data collection errors. 

- Recognizing these reasons informs proper handling strategies like imputation or removal, ensuring analysis results are reliable and interpretation is accurate

In [454]:
df.isnull().sum()

Timestamp                       0
Age_Range                       0
Work_Industry                  74
Job_Title                       1
Job_Title_ExtraContext      20786
Salary                          0
Monetary_Compensation        7286
Currency                        0
Other_Currency              27835
Income_ExtraContext         24997
Country                         0
State_in_USA                 5014
City                           92
Work_Experience                 0
Work_Experience_in_Field        0
Level_of_Education            219
Gender                        170
Race                          175
dtype: int64

### WORK_INDUSTRY AND JOB_TITLE

- Drop missing rows Work_Industry, it contains about 0.2% of missing values and dropping it would not affect our analysis. 

- Same with Job_Title {Drop missing rows Job_Title}

In [455]:
# dropping the missing rows 

df.dropna(subset = ["Work_Industry", "Job_Title"], inplace = True)

### JOB TITLE EXTRA CONTENT

- The dataset contains about 74% of missing values, it is possible that the job titles provided by the respondents were clear and did not require any additional context. 

- Dropping Job Title Extra context column

In [456]:
# dropping the column

df.drop(["Job_Title_ExtraContext"], axis = 1, inplace = True)

### MONETARY COMPENSATION

- Filling the missing rows in monetary compensation with 0. 

- This approach assumes respondents are not receiving any compensation.

In [457]:
# filling the NaN with 0 

df["Monetary_Compensation"].fillna(0 , inplace = True)

### CURRENCY

- Has no missing values but includes entries labelled as "Other"

In [458]:
df["Currency"].value_counts()

Currency
USD        23297
CAD         1667
GBP         1587
EUR          637
AUD/NZD      502
Other        156
CHF           37
SEK           37
JPY           23
ZAR           15
HKD            4
Name: count, dtype: int64

In [459]:
(df[df["Currency"] == "Other"])

,Timestamp,Age_Range,Work_Industry,Job_Title,Salary,Monetary_Compensation,Currency,Other_Currency,Income_ExtraContext,Country,State_in_USA,City,Work_Experience,Work_Experience_in_Field,Level_of_Education,Gender,Race
434,4/27/2021 11:09,25-34,Computing or Tech,Data analyst,"885,000",0.0,Other,INR,NaN,India,NaN,Pune,2 - 4 years,2 - 4 years,Master's degree,Woman,Asian or Asian American
603,4/27/2021 11:12,45-54,Health care,Exec admin,"1,080,000",223000.0,Other,Peso Argentino,Exchange about 1USD=165ARS,Argentina,NaN,City of Buenos Aires,11 - 20 years,11 - 20 years,College degree,Woman,"Hispanic, Latino, or Spanish origin"
1311,4/27/2021 11:23,25-34,Government and Public Administration,Associate,"80,640",20160.0,Other,MYR,NaN,Malaysia,NaN,Kuala Lumpur,5-7 years,2 - 4 years,College degree,Woman,Another option not listed here or prefer not t...
1840,4/27/2021 11:33,35-44,Intergovernmental organization,Consultant,"60,000",0.0,Other,CHF,"While I work full time at an organization, I a...",Switzerland,NaN,Geneva,11 - 20 years,5-7 years,Master's degree,Woman,Black or African American
1924,4/27/2021 11:34,35-44,Sales,CEO,"800,000",100000.0,Other,NOK,NaN,Norway,NaN,Oslo,11 - 20 years,11 - 20 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27857,8/10/2022 5:56,25-34,Computing or Tech,Senior Tech Lead,1800000,0.0,Other,INR,NaN,India,NaN,Bangalore,8 - 10 years,8 - 10 years,NaN,Man,Asian or Asian American
27897,11/10/2022 11:49,25-34,"Accounting, Banking & Finance","Manager, Risk Reporting",110000,22000.0,Other,SGD,NaN,Singapore,NaN,Singapore,8 - 10 years,8 - 10 years,College degree,Woman,Asian or Asian American
27917,12/17/2022 8:10,25-34,"Marketing, Advertising & PR",Senior Strategist,78000,0.0,Other,SGD,NaN,Singapore,NaN,Singapore,5-7 years,2 - 4 years,College degree,Woman,NaN
27923,1/8/2023 12:16,18-24,Computing or Tech,Computer Scientist,10000,0.0,Other,TRY,NaN,Turkey,NaN,Istanbul,2 - 4 years,2 - 4 years,NaN,Man,"Middle Eastern or Northern African, White"
27959,4/29/2023 15:24,18-24,Engineering or Manufacturing,Data Engineer,10000,0.0,Other,NaN,NaN,India,NaN,Banglore,1 year or less,1 year or less,NaN,Man,Asian or Asian American

- To streamline the data, we would remove the "Other Currency" column and transfer their values to the main "Currency" columns, replacing "Other" entries. 

- Firstly, we'll standardize them for easy readability."

In [460]:
#df["Other_Currency"].unique()

In [461]:


value = {"American Dollars" : "USD", "US Dollar": "USD",
         "Indian rupees": "INR", "INR (Indian Rupee)": "INR" , "Rupees": "INR",
          "Peso Argentino": "ARS", "Argentinian peso (ARS)": "ARS" , "Argentine Peso": "ARS",
         "BR$": "BRL", "BRL (R$)": "BRL" ,
         "Dkk": "DKK", "Danish Kroner": "DKK" , "dkk": "DKK", 
         "Mexican pesos": "MXN", "Mexican Pesos": "MXN" ,
         "Bdt": "BDT",
         "Php": "PHP", "Philippine Peso": "PHP" , "Philippine peso (PHP)": "PHP", "PhP (Philippine Peso)":"PHP", "Philippine Pesos":"PHP",
         "PLN (Polish zloty)": "PLN", "Polish ZÅ‚oty": "PLN" , "PLN (Zwoty)": "PLN",
          "czech crowns": "CZK", "Czk": "CZK",
         "Norwegian kroner (NOK)": "NOK", "Nok": "NOK",
         "ILS/NIS": "NIS", "NIS (new Israeli shekel)": "NIS" , "ILS (Shekel)": "NIS", "Israeli Shekels" : "NIS", "ILS":"NIS", "Ils":"NIS" ,
         "ILS" : "NIS", 
        "RMB (chinese yuan)": "RMB", "China RMB": "RMB" ,
         "Taiwanese dollars": "TWD",  
         "KRW (Korean Won)": "KWD", "Korean Won": "KWD" ,
          "Sdg": "SGD", "Singapore Dollara": "SGD", "Sgd":"SGD",
        "AUD Australian": "AUD/NZD", "Australian Dollars": "AUD/NZD","AUD/NZT": "AUD/NZD", "AUD" : "AUD/NZD", "NZD":"AUD/NZD",
         "Thai Baht": "THB", "THAI BAHT": "THB", "THAI  BAHT":"THB" ,
         "croatian kuna": "HRK", "Euro": "EUR"  
         
         
         }

df["Other_Currency"] = df["Other_Currency"].replace (value)

### Replace "other" values in "Currency" column with corresponding values from "Other_Currency" column

In [462]:
# Replace "others" values in "Currency" column with corresponding values from "Other_Currency" column
mask = df["Currency"] == "Other"
df.loc[mask, "Currency"] = df.loc[mask, "Other_Currency"]

In [463]:
df["Currency"].isnull().sum()

5

In [464]:
# Subset rows where a specific column contains NaN values
subset_df = df[df['Currency'].isnull()]
subset_df

,Timestamp,Age_Range,Work_Industry,Job_Title,Salary,Monetary_Compensation,Currency,Other_Currency,Income_ExtraContext,Country,State_in_USA,City,Work_Experience,Work_Experience_in_Field,Level_of_Education,Gender,Race
9344,4/27/2021 17:44,45-54,Government and Public Administration,Contracts Administrator,"76,000",0.0,NaN,NaN,NaN,United States,California,"Berkeley, CA",11 - 20 years,5-7 years,Some college,Woman,White
18843,4/29/2021 3:50,18-24,Health care,Microbiologist officer,"48,000",0.0,NaN,NaN,RM,Malaysia,NaN,Tawau,1 year or less,1 year or less,Some college,Man,Asian or Asian American
18882,4/29/2021 4:30,25-34,Computing or Tech,Data Analyst,"97,000",0.0,NaN,NaN,NaN,Malaysia,NaN,Georgetown,2 - 4 years,2 - 4 years,College degree,Non-binary,"White, Another option not listed here or prefe..."
18904,4/29/2021 4:59,45-54,Mining,Office manager,"55,140",0.0,NaN,NaN,NaN,USA,Nevada,Elko,11 - 20 years,11 - 20 years,Some college,Woman,White
27959,4/29/2023 15:24,18-24,Engineering or Manufacturing,Data Engineer,10000,0.0,NaN,NaN,NaN,India,NaN,Banglore,1 year or less,1 year or less,NaN,Man,Asian or Asian American

Since both columns lack specified currencies, we'll drop them.

In [465]:
df.dropna(subset = "Currency", inplace = True)

In [466]:
df["Currency"].isnull().sum()

0

In [467]:
# Delete equity row as there is no such currency as equity
df.drop(df[df['Currency'] == 'Equity'].index, inplace=True)

### OTHER CURRENCY AND INCOME_EXTRA CONTEXT

- Dropping both columns from the dataset due to a high propotion of NaN values in both columns.

In [468]:
# Drop the columns as they have high proportion of null values

df.drop(columns=["Other_Currency","Income_ExtraContext"], inplace=True)

### GENDER, LEVEL OF EDUCATION, RACE

- Firstly, standardize them for easy readability.

In [469]:
value1 ={"Other or prefer not to answer": "Not Specified", "Prefer not to answer":"Not Specified"}

df["Gender"] = df["Gender"].replace (value1)

In [470]:
value ={"College degree": "Bachelor", "Master's degree":"Master", "Some college" : "College", "PhD":"Doctorate", 
         "Professional degree (MD, JD, etc.)" : "Professional"}

df["Level_of_Education"] = df["Level_of_Education"].replace (value)

- Fill in the missing rows with Not Specified

In [471]:
# Impute missing values with 'Not Specified'
df["Gender"].fillna("Not Specified", inplace=True)

df["Level_of_Education"].fillna("Not Specified", inplace=True)

df["Race"].fillna("Not Specified", inplace=True)

### STATES IN USA

In [472]:
# Subset rows where a specific column contains NaN values
subset_df = df[df["State_in_USA"].isnull()]
subset_df

,Timestamp,Age_Range,Work_Industry,Job_Title,Salary,Monetary_Compensation,Currency,Country,State_in_USA,City,Work_Experience,Work_Experience_in_Field,Level_of_Education,Gender,Race
1,4/27/2021 11:02,25-34,Computing or Tech,Change & Internal Communications Manager,"54,600",4000.0,GBP,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,Bachelor,Non-binary,White
10,4/27/2021 11:03,25-34,Nonprofits,Office Manager,"47,500",0.0,USD,United States,NaN,"Boston, MA",5-7 years,5-7 years,Bachelor,Woman,White
14,4/27/2021 11:03,18-24,Health care,Patient care coordinator,"32,000",0.0,CAD,Canada,NaN,Remote,1 year or less,1 year or less,Bachelor,Woman,White
15,4/27/2021 11:03,35-44,Utilities & Telecommunications,Quality And Compliance Specialist,"24,000",500.0,GBP,United Kingdom,NaN,Lincoln,11 - 20 years,5-7 years,Bachelor,Man,White
21,4/27/2021 11:03,35-44,Nonprofits,Program Coordinator & Assistant Editor,"50,000",0.0,USD,United States,NaN,Atlanta,5-7 years,2 - 4 years,Doctorate,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28031,4/12/2024 11:00,35-44,Art & Design,Digital designer,60000,0.0,GBP,United Kingdom,NaN,London,11 - 20 years,8 - 10 years,Bachelor,Man,White
28032,4/12/2024 11:02,35-44,Art & Design,Digital designer,60000,0.0,GBP,United Kingdom,NaN,London,11 - 20 years,8 - 10 years,Bachelor,Man,White
28033,4/16/2024 19:21,18-24,Health care,Health Informatics,35000,1700.0,CAD,Canada,NaN,Toronto,1 year or less,1 year or less,Bachelor,Man,Asian or Asian American
28035,4/23/2024 23:39,18-24,Education (Higher Education),Teacher,13860,0.0,USD,Chile,NaN,Stgo,1 year or less,1 year or less,Not Specified,Not Specified,Not Specified
28036,4/25/2024 9:22,35-44,"Accounting, Banking & Finance",DBA,1000,100.0,USD,LOUTRELAND,NaN,LOUTRECITY,41 years or more,41 years or more,College,Not Specified,Another option not listed here or prefer not t...

- Some respondents did not specify their states, though they reside in USA, the absence of a state designation makes it challenging to analyze the data.

- Dropping the rows which country is in USA, but has no entry for states


- Filling "Not in USA" for missing values which country is not in USA.

In [473]:
 df.drop(df[(df["Country"].isin (["United States", "USA", "US", "Usa", "usa"])) & (df["State_in_USA"].isnull())].index, inplace = True)

In [474]:
df["State_in_USA"].fillna("Not in USA", inplace=True)

### CITY

- Filling the missing rows with "Not Specified"

In [475]:
subset_df = df[df["City"].isnull()]
subset_df

,Timestamp,Age_Range,Work_Industry,Job_Title,Salary,Monetary_Compensation,Currency,Country,State_in_USA,City,Work_Experience,Work_Experience_in_Field,Level_of_Education,Gender,Race
148,4/27/2021 11:05,25-34,Education (Higher Education),English as a Second Language Teacher,"18,000",0.0,EUR,Spain,Not in USA,NaN,8 - 10 years,5-7 years,Bachelor,Woman,White
700,4/27/2021 11:13,25-34,Libraries,Supervisor of Children's Services,"60,800",0.0,USD,United States,Connecticut,NaN,8 - 10 years,5-7 years,Master,Woman,White
904,4/27/2021 11:16,45-54,Computing or Tech,senior primary systems engineer,"117,000",6.0,USD,usa,California,NaN,31 - 40 years,11 - 20 years,Bachelor,Woman,Black or African American
944,4/27/2021 11:17,35-44,Government and Public Administration,Disability support,"57,500",0.0,CAD,Canada,Not in USA,NaN,5-7 years,2 - 4 years,Bachelor,Woman,White
1396,4/27/2021 11:24,35-44,Government and Public Administration,Health science administrator,"116,000",0.0,USD,Usa,Maryland,NaN,11 - 20 years,2 - 4 years,Doctorate,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27031,10/26/2021 11:51,25-34,Recruitment or HR,HR Coordinator,49000,2000.0,CAD,Canada,Not in USA,NaN,2 - 4 years,2 - 4 years,Bachelor,Woman,Asian or Asian American
27248,10/26/2021 13:43,18-24,Science,Laboratory technician,22000,0.0,GBP,United kingdom,Not in USA,NaN,2 - 4 years,1 year or less,Master,Woman,White
27901,11/15/2022 4:28,55-64,Health care,"Director, clinical programming",101400,20000.0,GBP,Uk,Not in USA,NaN,31 - 40 years,31 - 40 years,Master,Woman,White
27972,8/21/2023 22:47,under 18,"Accounting, Banking & Finance",McDonalds Crew Member,40000,0.0,USD,USA,Minnesota,NaN,1 year or less,1 year or less,High School,Woman,Asian or Asian American
28020,3/19/2024 17:40,25-34,Student,Student,0,0.0,USD,US,Illinois,NaN,1 year or less,1 year or less,Bachelor,Not Specified,White

In [476]:
df["City"].fillna("Not Specified", inplace=True)

In [477]:
df.isnull().sum()

Timestamp                   0
Age_Range                   0
Work_Industry               0
Job_Title                   0
Salary                      0
Monetary_Compensation       0
Currency                    0
Country                     0
State_in_USA                0
City                        0
Work_Experience             0
Work_Experience_in_Field    0
Level_of_Education          0
Gender                      0
Race                        0
dtype: int64

### All missing values have been appropriately addressed.

### CORRECTING THE DATA FORMAT

In [478]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27798 entries, 0 to 28036
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Timestamp                 27798 non-null  object
 1   Age_Range                 27798 non-null  object
 2   Work_Industry             27798 non-null  object
 3   Job_Title                 27798 non-null  object
 4   Salary                    27798 non-null  object
 5   Monetary_Compensation     27798 non-null  float64
 6   Currency                  27798 non-null  object
 7   Country                   27798 non-null  object
 8   State_in_USA              27798 non-null  object
 9   City                      27798 non-null  object
 10  Work_Experience           27798 non-null  object
 11  Work_Experience_in_Field  27798 non-null  object
 12  Level_of_Education        27798 non-null  object
 13  Gender                    27798 non-null  object
 14  Race                      27798 non-null  object
dtypes: float64(1), object(14)
memory usage: 3.4+ MB

### TIMESTAMP

In [479]:
# Split timestamp into date and time columns

df["Date"] = pd.to_datetime(df["Timestamp"]).dt.date

df["Time"] = pd.to_datetime(df["Timestamp"]).dt.time

df.drop(columns = ["Timestamp"], inplace = True)

In [480]:

# Move the 'date_column' and 'time_column' to the first and second positions
date_column_index = 0
time_column_index = 1
columns = list(df.columns)
columns.insert(date_column_index, columns.pop(columns.index("Date")))
columns.insert(time_column_index, columns.pop(columns.index("Time")))
df = df[columns]

### SALARY, MONETARY COMPENSATION

In [481]:

# Remove commas from the 'salary' column

df["Salary"] = df["Salary"].str.replace(',', '')

In [482]:

df["Salary"] = df["Salary"].astype(int)  

df["Monetary_Compensation"] = df["Monetary_Compensation"].astype(int)

### AGE RANGE, WORK EXPERIENCE, WORK EXPERIENCE IN FIELD

In [483]:
df["Work_Experience"].unique()

array(['5-7 years', '8 - 10 years', '2 - 4 years', '21 - 30 years',
       '11 - 20 years', '1 year or less', '41 years or more',
       '31 - 40 years'], dtype=object)

In [484]:
value = {"11 - 20 years": "11-20", "8 - 10 years": "8-10", "5-7 years": "5-7",
        "21 - 30 years": "21-30", "2 - 4 years": "2-4", "31 - 40 years": "31-40",
         "1 year or less": "1 year or Less", "41 years or more": "Over 41"
        }

df["Work_Experience"] = df["Work_Experience"].replace(value)

In [485]:
value = {"11 - 20 years": "11-20", "8 - 10 years": "8-10", "5-7 years": "5-7",
        "21 - 30 years": "21-30", "2 - 4 years": "2-4", "31 - 40 years": "31-40",
         "1 year or less": "1 year or Less", "41 years or more": "Over 41"
        }

df["Work_Experience_in_Field"] = df["Work_Experience_in_Field"].replace(value)

In [486]:
df[["Age_Range","Work_Experience","Work_Experience_in_Field"]]

      Age_Range Work_Experience Work_Experience_in_Field
0         25-34             5-7                      5-7
1         25-34            8-10                      5-7
2         25-34             2-4                      2-4
3         25-34            8-10                      5-7
4         25-34            8-10                      5-7
...         ...             ...                      ...
28032     35-44           11-20                     8-10
28033     18-24  1 year or Less           1 year or Less
28034     25-34             5-7                      5-7
28035     18-24  1 year or Less           1 year or Less
28036     35-44         Over 41                  Over 41

[27798 rows x 3 columns]

In [487]:
# we would change the age dtype, work experience and in field to be categorical dtype.


df["Age_Range"] = df["Age_Range"].astype("category")

df["Work_Experience"] = df["Work_Experience"].astype("category")

df["Work_Experience_in_Field"] = df["Work_Experience_in_Field"].astype("category")

### COUNTRY

- Standardize them for easy readability.

- Reformatting to enable proper grouping by countries.

In [488]:
df["Country"]

0         United States
1        United Kingdom
2                    US
3                   USA
4                    US
              ...
28032    United Kingdom
28033            Canada
28034                US
28035             Chile
28036        LOUTRELAND
Name: Country, Length: 27798, dtype: object

In [489]:
value1 = {"United States": "United States", "US": "United States", "USA":"United States",
         "Usa":"United States", "usa": "United States", "U.S." : "United States", "United States of America":"United States",
          "United states":"United States", "us": "United States", "united states": "United States","U.S>": "United States",
          "ISA" : "United States", "United State": "United States", "U.S.A": "United States", "U.S.A": "United States",
          "America" : "United States", "united states of america": "United States", "Us" : "United States", 
          "The United States" : "United States", "United State of America":"United States", "United Stated":"United States", "u.s.":"United States",
          "UNITED STATES":"United States", "U.S":"United States", "United States of American":"Unites States" , "Uniited States": "United States",
          "United Sates of America": "United States", "Unted States":"United States", 
          "United States (I work from home and my clients are all over the US/Canada/PR":"United States",
          "united States": "United States", "USA-- Virgin Islands":"United States", "United Statws":"United States",  "Unites States":"United States",
          "U. S.":"United States", "United Sates":"United States", "United Statesp":"United States",  "United Stattes":"United States", 
          "United Statea":"United States", "United Statees":"United States","UNited States":"United States",
          'Uniyed states':"United States", 'Uniyes States':"United States", 'United States of Americas':"United States",
          
          
       'U.A.':"United States", "US of A":"United States",
        'United States of america':"United States", 'Unites states':"Unite States",
        "U.SA":"United States", 'U.s.':"United States", 'U.s.a.':"United States", 'USS':"United States", 'Uniteed States':"United States",
        "For the United States government, but posted overseas":"United States",
         'United Statues':"United States", 'Untied States':"United States",  'United States Of America':"United States",
          "I work for an US based company but I'm from Argentina.":"United States",
          'Uniter Statez':"United States", 'U. S':"United States", 'Usat':"United States",  'ðŸ‡ºðŸ‡¸':"United States",
          'Unitef Stated':"United States", 'UA':"United States",
          'United STates':"United States", 'USaa':"United States", 'uSA':"United States",
          'america':"United States", 'United Statss':"United States",
          "USA, but for foreign gov't":"United States", "The US":"United States",
           'United states of america':"United States", 'UsA':"United States",
          'United  States':"United States",
         
          
          
          'United States is America':"United States", "United Status": "United States",
          "I am located in Canada but I work for a company in the US" :"United States", 
         "US Gov position" :"United States", 'United Stares':"United States",
          'UK for U.S. company':"United States", 'Unite States':"United States", 'U.S.A.': "United States", 
          "Worldwide (based in US but short term trips aroudn the world)": "United States",
         "United states of America" : "United States", 'From Romania, but for an US based company': "United States",
          'UnitedStates':"United States", 'USAB': "United States", 'Unitied States': "United States", 
         'United Sttes':"United States", 'united stated':"United States",'USA tomorrow': "United States",
       'United Stateds': "United States", 'US govt employee overseas, country withheld': "United States", 'uS':"United States", 'USD':"United States", 
      'United statew': "United States" , 'San Francisco': "United States", 'United States- Puerto Rico':"United States", 'United y':"United States" ,
    'California': "United States", 'Unites States': "United States", 'Unite States':"United States", 'UXZ': "United States"
         
         }

df["Country"] = df["Country"].replace(value1)

In [490]:

value2 = { "United Kingdom": "United Kingdom", "UK": "United Kingdom", "United Kingdomk":"United Kingdom",
         "England":"United Kingdom", "Uk":"United Kingdom", "Great Britain":"United Kingdom", 
          "England/UK":"United Kingdom", "England, UK.": "United Kingdom", "Britain":"United Kingdom", 
          "United Kingdom (England)" :"United Kingdom", "United Kingdom." : "United Kingdom", 
          "United kingdom": "United Kingdom", "U.K.": "United Kingdom", "United Kindom": "United Kingdom", 
         "England, UK" : "United Kingdom", "uk": "United Kingdom", 'England':"United Kingdom", "Uk":"United Kingdom",
          'Great Britain':"United Kingdom", "UK (Northern Ireland)":  "United Kingdom", "united kingdom":"United Kingdom",
       
          'Wales (United Kingdom)':"United Kingdom", 'England, Gb':"United Kingdom",  'U.K. (northern England)':"United Kingdom", 
          'U.K':"United Kingdom", 'England, United Kingdom':"United Kingdom", 'Englang':"United Kingdom", 'Wales':"United Kingdom", 
        'UK (England)':"United Kingdom", 'UK':"United Kingdom", 'Scotland, UK':"United Kingdom", 'Unites kingdom':"United Kingdom",
       'Wales, UK':"United Kingdom", 'England, United Kingdom ':"United Kingdom" , 'Wales (UK)':"United Kingdom", 'Northern Ireland, United Kingdom':"United Kingdom",
       'UK, but for globally fully remote company':"United Kingdom",
        'ENGLAND':"United Kingdom", 'London':"United Kingdom", 'UK, remote':"United Kingdom" , 'england': "United Kingdom", 'Austria, but I work remotely for a Dutch/British company': "United Kingdom"
         }

df["Country"] = df["Country"].replace(value2)

In [491]:
value3 = {"canada": "Canada", "Canada, Ottawa, ontario": "Canada", 'Csnada': "Canada",
         'CANADA': "Canada", 'Canadw': "Canada", 'Canda': "Canada", 'Canada and USA': "Canada",
        "Canad": "Canada", "canada": "Canada", "Can": "Canada"
         
         }

df["Country"] = df["Country"].replace(value3)

In [492]:
value4 = {"The Netherlands": "Netherlands", "netherlands":"Netherlands", "finland":"Finland",
         'NL': "Netherlands", 'the Netherlands': "Netherlands", 'Nederland': "Netherlands",
         'The netherlands': "Netherlands", 'the netherlands': "Netherlands", 'Northern Ireland':"Ireland",
         'FRANCE':"France" , 'ireland':"Ireland", "germany":"Germany", 'Czech republic': "Czech Republic", 'Czechia':"Czech Republic", 
        'czech republic': "Czech Republic", 'New Zealand Aotearoa':"New Zealand", 'New zealand' : "New Zealand",
          'Mainland China': "China", "australia": "Australia", "NZ":"New Zealand", 'Japan, US Gov position': "Japan" , 'I.S.': "Iceland",
         'IS': "Iceland", 'Italy (South)': "Italy", 'Sri lanka':'Sri Lanka', 'spain': "Spain", 'Danmark':"Denmark", 'UAE':'United Arab Emirates',
          'denmark':"Denmark", 'Remote (philippines)':"Philippines", 'South africa':'South Africa', 'SWITZERLAND':"Switzerland", 
          "Brasil":"Brazil", 'singapore' : 'Singapore', 'new zealand':"New Zealand", 'Luxemburg':'Luxembourg', 'switzerland':"Switzerland", 
        'From New Zealand but on projects across APAC':"New Zealand", 'MÃ©xico': "Mexico", 'Australian':'Australia', 'japan':'Japan', 
         'ARGENTINA BUT MY ORG IS IN THAILAND': "Thailand", 'hong konh': "Hong Kong", 
         'I work for a UAE-based organization, though I am personally in the US.': 'United Arab Emirates',
       'france':"France", 'Aotearoa New Zealand':"New Zealand",'Company in Germany. I work from Pakistan.': "Germany",
       'croatia':"Croatia",  'CanadÃ¡': "Canada",'INDIA': "India" , 'NIGERIA': "Nigeria", 'pakistan':"Pakistan",
        'Jersey, Channel islands': "Jersey", 'PanamÃ¡': "Panama", "LOUTRELAND" : "Ireland"}

df["Country"] = df["Country"].replace(value4)

In [493]:
value5 = {'Contracts': "Not Specified",
          
          "We don't get raises, we get quarterly bonuses, but they periodically asses income in the area you work, so I got a raise because a 3rd party assessment showed I was paid too little for the area we were located" : "Not Specified",
         'Global': "Not Specified", 'Currently finance':  "Not Specified",'$2,175.84/year is deducted for benefits':   "Not Specified", 'bonus based on meeting yearly goals set w/ my supervisor': "Not Specified", 'International': "Not Specified",
          "I earn commission on sales. If I meet quota, I'm guaranteed another 16k min. Last year i earned an additional 27k. It's not uncommon for people in my space to earn 100k+ after commission. ": "Not Specified", "Africa" : "Not Specified", 
         'I was brought in on this salary to help with the EHR and very quickly was promoted to current position but compensation was not altered.': "Not Specified" , 'n/a (remote from wherever I want)' :"Remote", "europe": "Not Specified", 
          'na': "Not Specified", 'Policy': "Not Specified", 'ss': "Not Specified" , 'dbfemf': "Not Specified", 'ibdia': "Not Specified", "Y":"Not Specified"
        
         }

df["Country"] = df["Country"].replace(value5)

In [494]:
df["Country"].value_counts()

Country
United States             22948
Canada                     1682
United Kingdom             1544
Australia                   388
Germany                     196
                          ...
Somalia                       1
Slovakia                      1
Sierra Leone                  1
The Bahamas                   1
Bosnia and Herzegovina        1
Name: count, Length: 104, dtype: int64

In [495]:
df["Country"].unique()

array(['United States', 'United Kingdom', 'Canada', 'Scotland',
       'Netherlands', 'Australia', 'Spain', 'Finland', 'France',
       'Germany', 'Ireland', 'India', 'Argentina', 'Denmark',
       'Switzerland', 'Bermuda', 'Malaysia', 'Mexico', 'South Africa',
       'Belgium', 'Sweden', 'Hong Kong', 'Kuwait', 'Norway', 'Sri Lanka',
       'Not Specified', 'Greece', 'Japan', 'Austria', 'Brazil',
       'Unites States', 'Hungary', 'Luxembourg', 'Colombia',
       'New Zealand', 'Trinidad and Tobago', 'Cayman Islands',
       'Czech Republic', 'Latvia', 'Puerto Rico', 'Rwanda',
       'United Arab Emirates', 'Bangladesh', 'Romania', 'Serbia',
       'Philippines', 'Russia', 'Poland', 'Turkey', 'Catalonia', 'Italy',
       'Jersey', 'China', 'Virginia', 'Afghanistan', 'Israel', 'Hartford',
       'Iceland', 'Unite States', 'Taiwan', 'Cambodia', 'Vietnam',
       'Remote', 'Singapore', 'South Korea', 'Thailand', 'Lithuania',
       'Eritrea', 'Indonesia', 'Cuba', 'Slovenia', 'Australi',
       "Cote d'Ivoire", 'Somalia', 'Slovakia', 'Portugal', 'Sierra Leone',
       'The Bahamas', 'Costa Rica', 'Chile', 'Qatar', 'Nigeria', 'Panama',
       'Congo', 'Uruguay', 'Pakistan', 'Uganda', 'Malta', 'Saudi Arabia',
       'Bulgaria', 'Estonia', 'Morocco', 'Ecuador', 'Zimbabwe', 'Ghana',
       'Croatia', 'Ukraine', 'Isle of Man', 'Jamaica', 'Kenya', 'Jordan',
       'Cyprus', 'Liechtenstein', 'Bosnia and Herzegovina'], dtype=object)

### STATE IN USA

- Standardize them for easy readability.

- Reformatting to enable proper grouping by states.

In [496]:
# split the states into different columns 

states = df["State_in_USA"].str.split(", ", expand=True)

# rename the columns 

states.columns = ["State_{}".format(i+1) for i in range(states.shape[1])]

# Concatenate challenges DataFrame with original DataFrame
df = pd.concat([df, states], axis=1)

In [497]:
df

,Date,Time,Age_Range,Work_Industry,Job_Title,Salary,Monetary_Compensation,Currency,Country,State_in_USA,...,State_2,State_3,State_4,State_5,State_6,State_7,State_8,State_9,State_10,State_11
0,2021-04-27,11:02:00,25-34,Education (Higher Education),Research and Instruction Librarian,55000,0,USD,United States,Massachusetts,...,None,None,None,None,None,None,None,None,None,None
1,2021-04-27,11:02:00,25-34,Computing or Tech,Change & Internal Communications Manager,54600,4000,GBP,United Kingdom,Not in USA,...,None,None,None,None,None,None,None,None,None,None
2,2021-04-27,11:02:00,25-34,"Accounting, Banking & Finance",Marketing Specialist,34000,0,USD,United States,Tennessee,...,None,None,None,None,None,None,None,None,None,None
3,2021-04-27,11:02:00,25-34,Nonprofits,Program Manager,62000,3000,USD,United States,Wisconsin,...,None,None,None,None,None,None,None,None,None,None
4,2021-04-27,11:02:00,25-34,"Accounting, Banking & Finance",Accounting Manager,60000,7000,USD,United States,South Carolina,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28032,2024-04-12,11:02:00,35-44,Art & Design,Digital designer,60000,0,GBP,United Kingdom,Not in USA,...,None,None,None,None,None,None,None,None,None,None
28033,2024-04-16,19:21:00,18-24,Health care,Health Informatics,35000,1700,CAD,Canada,Not in USA,...,None,None,None,None,None,None,None,None,None,None
28034,2024-04-18,16:21:00,25-34,Media & Digital,Product Manager,113000,0,USD,United States,New York,...,None,None,None,None,None,None,None,None,None,None
28035,2024-04-23,23:39:00,18-24,Education (Higher Education),Teacher,13860,0,USD,Chile,Not in USA,...,None,None,None,None,None,None,None,None,None,None
28036,2024-04-25,09:22:00,35-44,"Accounting, Banking & Finance",DBA,1000,100,USD,Ireland,Not in USA,...,None,None,None,None,None,None,None,None,None,None

In [498]:
df.isnull().sum()

Date                            0
Time                            0
Age_Range                       0
Work_Industry                   0
Job_Title                       0
Salary                          0
Monetary_Compensation           0
Currency                        0
Country                         0
State_in_USA                    0
City                            0
Work_Experience                 0
Work_Experience_in_Field        0
Level_of_Education              0
Gender                          0
Race                            0
State_1                         0
State_2                     27690
State_3                     27780
State_4                     27788
State_5                     27791
State_6                     27793
State_7                     27796
State_8                     27796
State_9                     27796
State_10                    27796
State_11                    27796
dtype: int64

- Dropping states 2-11 due to the majority of the dataset being empty.

In [499]:
df.drop (columns = ["State_in_USA","State_2", "State_3" , "State_4" ,"State_5" ,
                   "State_6" , "State_7" , "State_8" , "State_9" , "State_10" ,
                    "State_11"], inplace = True)

In [500]:
state_index = 9  # Index position to move the "state_1" column
columns = list(df.columns)
columns.insert(state_index, columns.pop(columns.index("State_1")))
df = df[columns]

In [501]:
# renaming the column for understanding 


df.rename(columns={"State_1": "State_in_USA"}, inplace=True)

In [502]:
df

,Date,Time,Age_Range,Work_Industry,Job_Title,Salary,Monetary_Compensation,Currency,Country,State_in_USA,City,Work_Experience,Work_Experience_in_Field,Level_of_Education,Gender,Race
0,2021-04-27,11:02:00,25-34,Education (Higher Education),Research and Instruction Librarian,55000,0,USD,United States,Massachusetts,Boston,5-7,5-7,Master,Woman,White
1,2021-04-27,11:02:00,25-34,Computing or Tech,Change & Internal Communications Manager,54600,4000,GBP,United Kingdom,Not in USA,Cambridge,8-10,5-7,Bachelor,Non-binary,White
2,2021-04-27,11:02:00,25-34,"Accounting, Banking & Finance",Marketing Specialist,34000,0,USD,United States,Tennessee,Chattanooga,2-4,2-4,Bachelor,Woman,White
3,2021-04-27,11:02:00,25-34,Nonprofits,Program Manager,62000,3000,USD,United States,Wisconsin,Milwaukee,8-10,5-7,Bachelor,Woman,White
4,2021-04-27,11:02:00,25-34,"Accounting, Banking & Finance",Accounting Manager,60000,7000,USD,United States,South Carolina,Greenville,8-10,5-7,Bachelor,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28032,2024-04-12,11:02:00,35-44,Art & Design,Digital designer,60000,0,GBP,United Kingdom,Not in USA,London,11-20,8-10,Bachelor,Man,White
28033,2024-04-16,19:21:00,18-24,Health care,Health Informatics,35000,1700,CAD,Canada,Not in USA,Toronto,1 year or Less,1 year or Less,Bachelor,Man,Asian or Asian American
28034,2024-04-18,16:21:00,25-34,Media & Digital,Product Manager,113000,0,USD,United States,New York,N/A - Remote,5-7,5-7,Bachelor,Woman,White
28035,2024-04-23,23:39:00,18-24,Education (Higher Education),Teacher,13860,0,USD,Chile,Not in USA,Stgo,1 year or Less,1 year or Less,Not Specified,Not Specified,Not Specified
28036,2024-04-25,09:22:00,35-44,"Accounting, Banking & Finance",DBA,1000,100,USD,Ireland,Not in USA,LOUTRECITY,Over 41,Over 41,College,Not Specified,Another option not listed here or prefer not t...

In [503]:
df["State_in_USA"].unique()

array(['Massachusetts', 'Not in USA', 'Tennessee', 'Wisconsin',
       'South Carolina', 'New Hampshire', 'Arizona', 'Missouri',
       'Florida', 'Pennsylvania', 'Michigan', 'Minnesota', 'Illinois',
       'California', 'Georgia', 'Ohio', 'District of Columbia',
       'Maryland', 'Texas', 'Virginia', 'North Carolina', 'New York',
       'New Jersey', 'Rhode Island', 'Colorado', 'Oregon', 'Washington',
       'Indiana', 'Iowa', 'Nebraska', 'Oklahoma', 'Maine', 'Connecticut',
       'South Dakota', 'West Virginia', 'Idaho', 'Louisiana', 'Montana',
       'Kentucky', 'North Dakota', 'Kansas', 'Vermont', 'Arkansas',
       'Alabama', 'Nevada', 'Delaware', 'New Mexico', 'Hawaii', 'Utah',
       'Mississippi', 'Alaska', 'Wyoming'], dtype=object)

### CITY

- Capitalize first letter of each entry

- Reformatting to enable proper grouping by city.

In [504]:

df["City"] = df["City"].str.capitalize()

In [505]:
value = {"Boston, MA": "Boston", "N/A - Remote" : "Remote", "Washington":"Washington DC", "Washington, DC":"Washington DC",
        "Washington":"Washington DC", "waynesboro":"Waynesboro", "DC": "Washington DC", "Washington":"Washington DC",
         "District of Columbia":"Washington DC", "NYC (remotely)":"New York City", "New York":"New York City", "prefer not to answer": "Not Specified",
         "Philadelphia (suburbs)": "Philadelphia","Phialdelphia":"Philadelphia", "Kitchener, Ontario": "Ontario","Kingston Ontario": "Ontario", "Newcastle, UK": "Newcastle", "New York":"New York City", "The hague": "The Hague",
         "London, ON CAN": "London", "Small city, remote, national company":"Remote", "Shaker Hts" : "Shaker Heights", "helsinki":"Helsinki", "Research Triangle region":"Research Triangle",
         "Washington, DC" : "Washington DC", "Gorham/Portland": "Portland", "Westchester/NYC": "New York City", "Remote Worker":"Remote", "buffalo":"Buffalo", "Too identifiable":"Not Specified", 
         "Chicago area mostly, but also the US and Canada": "Chicago","Greater Boston area":"Boston", "Chicago (remote)": "Chicago", "Huntington (remote, HQ is in Charleston)":"Huntington", 
        "Omaha, NE":"Omaha", "NYC": "New York City", "Remote (live in Nottingham)" :"Remote", "ROCHESTER": "Rochester", "DFW area": "Dallas", "DFW": "Dallas", "Fully Remote (Greater Boston)": "Boston",
         "Stamford": "Stanford", "Prefer not to say (Montana is small!)": "Not Specified", "I work remotely": "Not Specified", "Remote/ home": "Not Specified", "Work from home": "Not Specified", "princeton":"Princeton", 
         "Port Carling, Muskoka, Ontario":"Ontario", " No":  "Not Specified", "Waterloo, ON":"Ontario", "Toronto, ON":"Toronto", "Cornwall, Ontario":"Cornwall, Ontario", "Las Vegas (Techinically remote)":"Remote",
         "Philly 'burbs": "Philadelphia","This is too identifying":"Not Specified","Victoria, BC, Canada":"Victoria", "would rather not say": "Not Specified", "Full time remote from my home near a major PA ...": "Remote", "Remote (Chicago)":"Remote",
         "Prefer not to disclose":"Not Specified", "NA (remote). Live near Boston, work is based i...":"Not Specified", 
         
        "I'M Sorry, I'D Rather Not Say. But Alberta In Canada.": "Not Specified","Prefer Not To Identify": "Not Specified", "Cda" : "CDA", "Nyc Metro": "New York City", "I Work Remotely From A Different Location.": "Remote", 
          "A Large City": "Not Specified","Chicago, Il":"Chicago" ,"Suburban Philadelphia":"Philadelphia","Too Small To List": "Not Specified", "Melbourne Australia":"Melbourne", "Lynnfield (Boston Metro Area)":"Boston","No Answer" : "Not Specified",
          "All Over N Ca":"Remote", "Too Small To Answer With Anonymity!":"Not Specified", "Chicago (But Distributed Workplace)": "Chicago","Denver - Remote, Company Based In Dc":"Denver", "New Yor": "New York City", "London/Remote":"London", 
          "Rural Town (Prefer Not To Disclose)": "Not Specified", "Sydney, Australia":"Sydney", "Remote Worker Out Of Wilmington": "Wilmington", "Washington, Dc" : "Washington DC", "Wichita (Remotely)": "Wichita", "Toronto Ontario Canada": "Toronto",
          "Milwaukee (Remote)":"Milwaukee", "All, Travel":"Not Specified","Sorry, No":"Not Specified", "Toronto Ontario":"Ontario", "New Haven/Remote":"New Haven", "Huntington Station":"Huntington", "Washingtondc":"Washington DC", "Harrisburg, Pa, Usa":"Harrisburg",
          "N/A (Remote From Wherever I Want)" :"Remote","Northern Virginia (Washington, Dc Metro)":"Washington DC", "Remote. Live Near Boston":"Remote", "Remote -":"Remote", "Can'T Say Without Losing My Anonymity":"Not Specified", "I Don'T Want To Say But Nhs Pay Bands Are National": "Not Specified",
         "I Live In Orlando, But I Am Full-Time Remote" :"Orlando" ,"Sam Francisco":"San Francisco", "San Francisco, But Company Is Boston Based":"San Francisco", "British Columbia (Not A City, But I Am Rural)":"British Columbia", "Would Remove My Anonymity To State This" : "Not Specified", 
          "N/A - Remote Work": "Not Specified", "Can'T Say Without Being Identifiable ": "Not Specified", "Boston (Somerville Specifically)":"Boston", "Remote, Based Out Of Baltimore, Md Metro Area":"Baltimore", "Redacted (Sorry)": "Not Specified","Us Govt Employee Overseas, Country Withheld":"Not Specified",
          "To Much Detail":"Not Specified","Nyc (Remote)":"New York City", "Chicago -Remote Position Though":"Chicago", "Remote Worker, Staffed Out Of Cincinnati":"Cincinnati", "Company Is Based In Sf": "Remote", "All Over":"Not Specified","Work From Home, London":"London", "Can'T Say":"Not Specified",
          "Xx":"Not Specified", "San Fransico":"San Francisco", "Remote, From A Small City In Romania":"Remote", "Calgary Alberta Canada":"Calgary", "Fuck Off":"Not Specified", "Washington, Dc Primarily":"Washington DC", "New York City, New York":"New York City",
          "N/A-Remote" : "Remote", "I Work From Home":"Remote","I Work Remotely. My Company Is Based Out Of Pittsburgh, Pa":"Remote", "Washington Dc (And Philadelphia Pa)": "Washington DC","Utah County (I Cover Multiple Cities)" :"Utah County", "Los Angeles, But I Work With People In Europe Including The Company Owner":"Los Angeles",
          "Xxxx" : "Not Specified","S": "Not Specified","Dhgbfv ": "Not Specified","I Am A Student": "Not Specified", "Pubw ":"Not Specified","Nw":"Not Specified", "Na (Work From Home In Small Town, Decline To Specify)":"Not Specified","I Wfh Full Time For A Remote Organization (Pre-Pandemic)":"Remote", "I'M Not Comfortable Answering That.  Small Town With Something Around 5K People.":"Not Specified",
           "Donâ€™T Want To Answer":"Not Specified", "I'M Permanently Remote In Ma, Company Is Global.":"Remote", "Remote--Don'T Work In Same State As My Employer Is Located":"Remote", "Refuse To Answer":"Not Specified", "Cfl":"Not Specified","No City":"Not Specified", "I Work From Home (Permanent)":"Remote", "Socal, Prefer Not To Specify":"Not Specified", "This Is Too Identifying":"Not Specified",
         "I Work Remotely With Clients Across The Country" :"Remote", "I Work Remotely But In Non-Covid Times I Work At Client Sites Throughout The Us":"Remote", "Full Time Remote From My Home Near A Major Pa City":"Remote","Small State - No Answer":"Not Specified", "â€œLargeâ€ Canadian Prairie City.": "Not Specified", "Would Rather Not Say": "Not Specified", "One Of The Largest In The State":"Not Specified",
           
       "Prefer Not To Answer":"Not Specified", "Washington, D.C.": "Washington DC", "Chicago Suburbs":"Chicago", "District Of Columbia":"Washington DC", "San Francisco Bay Area":"San Francisco",
        "Prefer Not To Say":"Not Specified", "Washington D.C.":"Washington DC", "Sf Bay Area":"San Francisco", "Na":"Not Specified", "Boston Area":"Boston", "Boston, Ma":"Boston", "Vancouver, Bc":"Vancouver", "Sf":"San Francisco", 
         "Cambridge, Ma":"Cambridge", "South San Francisco":"San Francisco", "Newcastle Upon Tyne":"Newcastle", "D.C.":"Washington DC", "Dfw":"Not Specified", "Portland, Or":"Portland", "Philadelphia Suburbs":"Philadelphia", "N/A":"Not Specified", 
         "-":"Not Specified", "Edmonton, Alberta":"Edmonton",
         "Seattle, Wa": "Washington DC", "Toronto, Ontario":"Toronto", "New York, Ny":"New York City", "Work From Home":"Remote", "Washington, Dc": "Washington DC", "Various":"Not Specified", "Ottawa, Ontario":"Ottawa", 
         "London, Uk":"London", "Uk":"London", "Washington, DC":"Washington DC", 
         "La":"Los Angeles", "Rural Area":"Rural", "Canada":"Not Specified", "Washington, D.C.":"Washington DC", "Wfh":"Remote", "Home":"Remote", "Chicago Area":"Chicago","Greater Boston Area":"Boston",
         "Vancouver, British Columbia":"Vancouver", "Upstate Ny":"New York City", "--":"Not Specified", "Slc":"Not Specified", "Philadelphia Area":"Philadelphia", "Cincinnati, Oh":"Cincinnati", "Birmingham, England":"Birmingham", 
         "Remotely":"Remote", "Washington":"Washington DC", "New York":"New York City", "NYC":"New York City",
        "Manchester, Uk":"Manchester" , "Perth, Western Australia":"Perth" , "Newcastle Nsw":"Newcastle", "Houston, Tx":"Houston", "Reading, Uk":"Reading", "Vancouver Bc":"Vancouver", "Cambridge, Uk":"Cambridge", "Birmingham Uk":"Birmingham",
         
         "Los Angeles County":"Los Angeles", "Washington, D.C":"Washington DC", "Choose Not To Answer ":"Not Specified", "Home Based":"Remote", "Philadelphia Suburb":"Philadelphia", "Austin, Tx":"Austin", "Chicago (Suburbs)":"Chicago","prefer not to say":"Not Specified",
         "Prefer Not To Respond":"Not Specified", "Rural Town":"Rural", "Birmingham, Uk":"Birmingham", "Dc Area":"Washington DC", "Greater Philly": "Philadelphia", "Calgary, Alberta":"Calgary", "Fully Remote":"Remote","Halifax, Ns":"Halifax", "Hamilton, On":"Hamilton",
         "Rather Not Answer":"Not Specified", "Rather Not Say":"Not Specified", "Los Angeles, Ca":"Los Angeles", "Remotely From Md":"Remote", "Xxx":"Not Specified", "Prefer not to say":"Not Specified", "SF":"San Francisco", "N/a":"Not Specified", "seattle":"Seattle",
        "Prefer not to answer":"Not Specified", "new york":"New York City", "SF Bay Area":"San Francisco", "New york":"New York City", "remote":"Remote", "New York city":"New York City", "Washington, DC":"Washington DC", "New York, NY":"New York City", "NY":"New York City",
         "Washington, DC":"Washington DC", "San francisco":"San Francisco", "Washington, D.C.":"Washington DC", "Seattle, WA":"Seattle", "toronto":"Toronto", "Nyc":"New York City","LA":"Los Angeles", "vancouver":"Vancouver", "washington dc":"Washington DC", "Dc":"Washington DC", 
         "atlanta":"Atlanta", "na":"Not Specified", ".":"Not Specified", "Prefer not to respond":"Not Specified", "No":"Not Specified", "dc":"Washington DC", "xxx":"Not Specified","BOSTON":"Boston", "nyc":"New York City", 
        
        }

df["City"] = df["City"].replace(value)

- Creating a new category, such as "Single Person City" 

- Assigning cities with only one citizen to this category which serves to streamline and standardize the dataset

- Therefore, enhancing its suitability for Exploratory Data Analysis (EDA).

In [506]:
# Calculate value counts for a specific column, assuming 'column_name' is the name of your column
value_counts = df["City"].value_counts()

# Select values where the count is equal to 1
unique_values = value_counts[value_counts == 1].index

# Update the values with a count equal to 1
new_value = "Single Person City"
df.loc[df["City"].isin(unique_values), "City"] = new_value

In [507]:
df.City.value_counts()

City
Single Person City    2392
New York City         1046
Chicago                828
Boston                 828
Seattle                735
                      ...
Allen                    2
Upstate                  2
Cambridge, uk            2
Kensington               2
Sherwood park            2
Name: count, Length: 1421, dtype: int64

### RACE

In [508]:
df["Race"].value_counts()

Race
White                                                                                                                                                                                                                           23028
Asian or Asian American                                                                                                                                                                                                          1382
Black or African American                                                                                                                                                                                                         673
Another option not listed here or prefer not to answer                                                                                                                                                                            614
Hispanic, Latino, or Spanish origin                                                                                                                                                                                               594
Hispanic, Latino, or Spanish origin, White                                                                                                                                                                                        382
Asian or Asian American, White                                                                                                                                                                                                    339
Not Specified                                                                                                                                                                                                                     161
Black or African American, White                                                                                                                                                                                                  123
Middle Eastern or Northern African, White                                                                                                                                                                                          83
Middle Eastern or Northern African                                                                                                                                                                                                 69
Native American or Alaska Native, White                                                                                                                                                                                            67
White, Another option not listed here or prefer not to answer                                                                                                                                                                      63
Native American or Alaska Native                                                                                                                                                                                                   43
Black or African American, Hispanic, Latino, or Spanish origin                                                                                                                                                                     28
Asian or Asian American, Hispanic, Latino, or Spanish origin, White                                                                                                                                                                14
Asian or Asian American, Hispanic, Latino, or Spanish origin                                                                                                                                                                       14
Black or African American, Hispanic, Latino, or Spanish origin, White                                                                                                                                                              11
Asian or Asian American, Another option not listed here or prefer not to answer                                                                                                                                                    11
Hispanic, Latino, or Spanish origin, Native American or Alaska Native                                                                                                                                                              10
Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White                                                                                                                                                       10
Asian or Asian American, Black or African American                                                                                                                                                                                  9
Asian or Asian American, Middle Eastern or Northern African                                                                                                                                                                         7
Asian or Asian American, Black or African American, White                                                                                                                                                                           6
Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer                                                                                                                                         6
Asian or Asian American, White, Another option not listed here or prefer not to answer                                                                                                                                              6
Black or African American, Middle Eastern or Northern African, White                                                                                                                                                                5
Black or African American, Native American or Alaska Native, White                                                                                                                                                                  5
Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African, White                                                                                                                                                      5
Asian or Asian American, Native American or Alaska Native, White                                                                                                                                                                    4
Black or African American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White                                                                                                                             3
Black or African American, Another option not listed here or prefer not to answer                                                                                                                                                   2
Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African                                                                                                                                                             2
Middle Eastern or Northern African, White, Another option not listed here or prefer not to answer                                                                                                                                   2
Black or African American, Middle Eastern or Northern African                                                                                                                                                                       2
Asian or Asian American, Middle Eastern or Northern African, White                                                                                                                                                                  1
Asian or Asian American, Hispanic, Latino, or Spanish origin, White, Another option not listed here or prefer not to answer                                                                                                         1
Asian or Asian American, Hispanic, Latino, or Spanish origin, Another option not listed here or prefer not to answer                                                                                                                1
Middle Eastern or Northern African, Native American or Alaska Native                                                                                                                                                                1
Asian or Asian American, Native American or Alaska Native                                                                                                                                                                           1
Hispanic, Latino, or Spanish origin, Native American or Alaska Native, Another option not listed here or prefer not to answer                                                                                                       1
Asian or Asian American, Black or African American, Hispanic, Latino, or Spanish origin                                                                                                                                             1
Middle Eastern or Northern African, Native American or Alaska Native, White                                                                                                                                                         1
Asian or Asian American, Black or African American, Native American or Alaska Native, White                                                                                                                                         1
Hispanic, Latino, or Spanish origin, White, Another option not listed here or prefer not to answer                                                                                                                                  1
Black or African American, Middle Eastern or Northern African, Native American or Alaska Native, White                                                                                                                              1
Asian or Asian American, Hispanic, Latino, or Spanish origin, Native American or Alaska Native, White                                                                                                                               1
Native American or Alaska Native, White, Another option not listed here or prefer not to answer                                                                                                                                     1
Native American or Alaska Native, Another option not listed here or prefer not to answer                                                                                                                                            1
Asian or Asian American, Black or African American, Hispanic, Latino, or Spanish origin, Middle Eastern or Northern African, Native American or Alaska Native, White, Another option not listed here or prefer not to answer        1
Name: count, dtype: int64



- For the sake of this analysis selecting only the first race from respondents' multiple choices to simplifies analysis

In [509]:
# split the race into different columns 

race = df["Race"].str.split(", ", expand=True)

# rename the columns 

states.columns = ["Race_{}".format(i+1) for i in range(states.shape[1])]

# Concatenate challenges DataFrame with original DataFrame
df = pd.concat([df, race], axis=1)

In [510]:
df.drop (columns = [1, 2, 3, 4, 5, 6, 7, 8, "Race"], axis = 1, inplace = True)

In [511]:
# renaming the column for understanding 


df.rename(columns={0: "Race"}, inplace=True)

In [512]:
df["Race"].value_counts()

Race
White                                                     23091
Asian or Asian American                                    1800
Hispanic                                                   1011
Black or African American                                   853
Another option not listed here or prefer not to answer      614
Not Specified                                               161
Middle Eastern or Northern African                          156
Native American or Alaska Native                            112
Name: count, dtype: int64

## CLEAN DATASET 

- Creating a copy of the cleaned dataframe for conducting EDA (Exploratory Data Analysis).

In [513]:
clean_df = df.copy()

In [514]:
clean_df

,Date,Time,Age_Range,Work_Industry,Job_Title,Salary,Monetary_Compensation,Currency,Country,State_in_USA,City,Work_Experience,Work_Experience_in_Field,Level_of_Education,Gender,Race
0,2021-04-27,11:02:00,25-34,Education (Higher Education),Research and Instruction Librarian,55000,0,USD,United States,Massachusetts,Boston,5-7,5-7,Master,Woman,White
1,2021-04-27,11:02:00,25-34,Computing or Tech,Change & Internal Communications Manager,54600,4000,GBP,United Kingdom,Not in USA,Cambridge,8-10,5-7,Bachelor,Non-binary,White
2,2021-04-27,11:02:00,25-34,"Accounting, Banking & Finance",Marketing Specialist,34000,0,USD,United States,Tennessee,Chattanooga,2-4,2-4,Bachelor,Woman,White
3,2021-04-27,11:02:00,25-34,Nonprofits,Program Manager,62000,3000,USD,United States,Wisconsin,Milwaukee,8-10,5-7,Bachelor,Woman,White
4,2021-04-27,11:02:00,25-34,"Accounting, Banking & Finance",Accounting Manager,60000,7000,USD,United States,South Carolina,Greenville,8-10,5-7,Bachelor,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28032,2024-04-12,11:02:00,35-44,Art & Design,Digital designer,60000,0,GBP,United Kingdom,Not in USA,London,11-20,8-10,Bachelor,Man,White
28033,2024-04-16,19:21:00,18-24,Health care,Health Informatics,35000,1700,CAD,Canada,Not in USA,Toronto,1 year or Less,1 year or Less,Bachelor,Man,Asian or Asian American
28034,2024-04-18,16:21:00,25-34,Media & Digital,Product Manager,113000,0,USD,United States,New York,Single Person City,5-7,5-7,Bachelor,Woman,White
28035,2024-04-23,23:39:00,18-24,Education (Higher Education),Teacher,13860,0,USD,Chile,Not in USA,Single Person City,1 year or Less,1 year or Less,Not Specified,Not Specified,Not Specified
28036,2024-04-25,09:22:00,35-44,"Accounting, Banking & Finance",DBA,1000,100,USD,Ireland,Not in USA,Single Person City,Over 41,Over 41,College,Not Specified,Another option not listed here or prefer not t...